* {
  margin: 0;
  padding: 0;
}
body {
  background-color: lightslategray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.main {
  margin-top: 80px;
  padding: 20px 80px;
  background-color: lightslategray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  font-weight: bold;
  color: white;
  background-color: darkslateblue;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 55px;
  color: white;
}

.mini {
  display: inline-block;
}

.helo {
  margin: 1px;
  background-color: darkgrey;
  height: 10px;
  width: 10px;
  border-radius: 2px;
}

.change {
  background-color: yellow;
}